html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    background: linear-gradient(#FFFDF5, #ecd2ab);
    background-attachment: fixed;
}

h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 90px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.title{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: xxx-large;
}

.paragraph{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.topBar{
    background-color: #F5EEB0;
    height: 60px;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1000;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 30px;
    box-sizing:border-box;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}
.logo{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:#85460B;
    font-size: xx-large;
    font-weight:bold;
}
.options{
    display: flex;
    gap: 40px;
}
.options a {
    color:black;
    text-decoration: none;
    font-size: large;
    transition: 0.3s;
}
.options a:hover {
    color: #85460B;
    transform: translateY(-3px);
    box-shadow: 0px 5px 0px #85460B;
}

.section{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
    padding: 40px 20px;
    box-sizing: border-box;
}

.sectionV{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 40px 20px;
    box-sizing: border-box;
    /* background-color: red; */

}

.insideSection{
    /* background-color: black; */

    width: 50%;
    max-width: 65vh;
}

.insideSectionV{
    /* background-color: #85460B; */
    width: 80%;
}

.projectBox{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
}
.projectCard{
    height: 550px;
    width: min(350px, 100vh);
    border: 5px solid;
    border-color: #85460B;
    background-color: #eee3d2;
    transition: all 0.3s ease;
}
.projectCard:hover{
    transform: translateY(-10px);
    box-shadow: 0 10px 20px;
}

.icon-container {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}
.icon-container a {
    color: black;
    font-size: 40px;
    text-decoration: none;
    transition: all 0.3s ease;
}
.icon-container a:hover {
    box-shadow: 0px 5px 5px black;
    transform: translateY(-3px);
    color: #85460B;
}

@media (max-width: 900px){
    .insideSection{
        width: 90%;
    }
}
